<div class="row" id="home">

    <div class="col-sm-2" id="config" *ngIf="sideBar" >
        <app-config-side-bar [selectedUser]="selectedUser" (change)="userChange($event)"></app-config-side-bar>
    </div>

    <div class="col-sm-10" id="cart">
        <br> <br> <br>
        <fieldset class="col-md-10">
            <legend>List of:</legend>
            <div class="row">
                <div class="col-sm-6"><button (click)="SaveListUsersInJson()"><img src="assets/images/add.png" alt="add" width="18px"
                    height="18px">ADD</button> <br> <br></div>
                <div class="col-sm-6"><button (click)="LoadListUsersFromJson()"><img src="assets/images/refresh.png" alt="refresh" width="18px"
                            height="18px"> LOAD</button> <br> <br></div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <app-user-card [selectedUser]="selectedUser" *ngIf="showcarduser"
                    (change)="nbEnfantChange($event)"></app-user-card>
                </div>
                <div class="col-sm-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">NOM</th>
                                <th scope="col">PRENOM</th>
                                <th scope="col">NOMBRE D'ENFANT</th>
                                <th scope="col">ACTION</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of listUsers; index as i">
                                <td>{{ user._nom }}</td>
                                <td>{{ user._prenom }}</td>
                                <td>{{ user._nombre_enfants | number }}</td>
                                <td><button id="selectbtn" (click)="ShowSideBar(user)"> SELECT</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </fieldset>
    </div>
</div>