<br> <br>
<form>
    <table class="container">
        <tr>
            <td>
                <h5><img src="assets/images/option.png" alt="option" width="22" height="22"> CONFIGURATION</h5>
                <br> <br>
            </td>
        </tr>
        <tr>
            <td><label class="title" for="nom">NOM</label> <br><input type="text" id="nom" value="{{nom}}" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}"></td>
        </tr>

        <tr>
            <td><label class="title" for="prenom">PRENOM</label> <br><input type="text" id="prenom" value="{{prenom}}" [(ngModel)]="prenom" [ngModelOptions]="{standalone: true}"></td>
        </tr>

        <tr>
            <td><label class="title" for="nb_enfant">NOMBRE D'ENFANT</label> <br><input type="text" id="nb_enfant" value="{{nb_enfant}}"
                    disabled></td>
        </tr>
    </table>
</form>